{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container">

        </div>
    </section>
    <script>
        function closeModal(header) {
            header.classList.remove ("hide-header");
        }
    </script>
{% endblock %}