{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="card" style="background-color: #333333; color: #eeeeee; font-size: 50px">
            March 8th
        </div>
        <div class="card">
            <div class="team-logo">
                <img src="https://static.flashscore.com/res/image/data/bLEU35Da-UNi0utEa.png" alt="Team 1 Logo">
            </div>
            <div class="team-logo">
                <img src="https://static.flashscore.com/res/image/data/GOdFK4wS-IX9t32yK.png" alt="Team 2 Logo">
            </div>
        </div>
        <div class="card">
            <div class="team-logo">
                <img src="https://static.flashscore.com/res/image/data/2HA4wUil-xIGpz3zQ.png" alt="Team 1 Logo">
            </div>
            <div class="team-logo">
                <img src="https://static.flashscore.com/res/image/data/zkRlohdM-YX5imzJn.png" alt="Team 2 Logo">
            </div>
        </div>
    </div>
{% endblock %}