body {
    font-family: 'Russo One', sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    display: flex;
    align-items: center;
}

.title {
    color: #333333;
    font-family: 'Russo One',sans-serif;
    font-size: 50px;
    line-height: 70px;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    margin-top: 20px;
    display: block;
    width: 100%;
}

.date-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 10px;
    background-color: #333333;
    color: #eeeeee;
    font-size: 50px;
}

.card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 10px;
}

.team-logo {
    padding: 10px;
}

.team-logo img {
    max-width: 100px;
    max-height: 100px;
}