{% extends 'base.html.twig' %}

{% block title %}The Rugby Highlights - Archive{% endblock %}
{% block ogTitle %}"The Rugby Highlights - Archive"{% endblock %}
{% block description %}"Catch up on all highlights from the current season across all leagues and competitions available!"{% endblock %}
{% block ogDescription %}"Catch up on all highlights from the current season across all leagues and competitions available!"{% endblock %}
{% block canonical %}"https://therugbyhighlights.com/archive"{% endblock %}

{% block body %}
    <h1 class="title-text">Archive</h1>
    <h2 class="subtitle-text">Season Highlights</h2>
    <div id="archive"></div>
{% endblock %}

    {% block footer %}
        <footer>
            <div class="footer-content" style="margin: 10px auto 0 !important;">
                <p>&copy; <span id="year"></span> The Rugby Highlights. All rights reserved.</p>
            </div>
        </footer>
    {% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('archive') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('archive') }}
{% endblock %}